@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto&display=swap');
html,
body {
  font-family: 'Noto Sans TC', sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-style: italic;
}
